ROOT_DIR=/home/troy/SysAssure/dataset/apache-ant-1.9.6/
SRC_DIR=/home/troy/SysAssure/dataset/apache-ant-1.9.6/src/main/
TEST_DIR=/home/troy/SysAssure/dataset/apache-ant-1.9.6/src/tests/junit/
BIN_SRC_DIR=/home/troy/SysAssure/dataset/apache-ant-1.9.6/build/classes/
BIN_TEST_DIR=/home/troy/SysAssure/dataset/apache-ant-1.9.6/build/testcases/
COMPILE_COMMAND=ant
TEST_COMMAND=ant test
JUNIT_VERSION=4
BUILD_TOOL=ant
MVN_LOCAL_REPO= # optional, please specify when the project is built by maven.
ANT_LIB=/home/troy/SysAssure/dataset/apache-ant-1.9.6/lib/ # optional, please specify when the project is built by ant
CLEAN_ENABLE=true
CLEAN_COMMAND=ant clean