ROOT_DIR=/home/troy/SysAssure/dataset/java-apns-1.0.0.Beta3/
SRC_DIR=/home/troy/SysAssure/dataset/java-apns-1.0.0.Beta3/src/main/java/
TEST_DIR=/home/troy/SysAssure/dataset/java-apns-1.0.0.Beta3/src/test/java/
BIN_SRC_DIR=/home/troy/SysAssure/dataset/java-apns-1.0.0.Beta3/target/classes/
BIN_TEST_DIR=/home/troy/SysAssure/dataset/java-apns-1.0.0.Beta3/target/test-classes/
COMPILE_COMMAND=mvn compile
TEST_COMMAND=mvn test
JUNIT_VERSION=4
BUILD_TOOL=maven
MVN_LOCAL_REPO=/home/troy/.m2/repository/ # optional, please specify when the project is built by maven.
ANT_LIB= # optional, please specify when the project is built by ant
CLEAN_ENABLE=false
CLEAN_COMMAND=mvn clean